.background{
    background-color: #528F81;

}



.about,
.single {
    position: relative;
    padding: 50px 0 55px 0;
    background: #f2f2f2;
}

.about .col-md-12,
.about .col-md-6,
.single .col-md-12,
.single .col-md-6 {
    margin-bottom: 30px;
}

.about .about-img,
.single .single-img {
    position: relative;
    overflow: hidden;
}

.about .about-img img,
.single .single-img img {
    width: 100%;
}

.about .about-content,
.single .single-content {
    position: relative;
    width: 80%;
    margin: -100px auto 0 auto;
    padding: 30px;
    background: #ffffff;
}

.about .about-content h2,
.single .single-content h2 {
    font-size: 25px;
    font-weight: 700;
}

.about .about-content p,
.single .single-content p {
    font-size: 16px;
    font-weight: 500;
}

.about .btn,
.single .btn {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background: #999999;
    border-radius: 0;
}

.about .btn:hover,
.single .btn:hover {
    background: #4F84C4;
}

.service {
    background: #ffffff;
    padding: 90px 0 60px 0;
    text-align: center;
}

.service .card {
    position: relative;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    
}
.service .card-body{
    position: relative;
    width: 80%;
    padding: 30px 15px;
}



.call-to-action {
    position: relative;
    padding: 90px 0;
    background: #4F84C4;
}

.call-to-action .container {
    max-width: 700px;
}

.call-to-action .section-header h2 {
    color: #ffffff;
}

.call-to-action .section-header::before {
    background: #ffffff;
}

.call-to-action .section-header p {
    color: #ffffff !important;
}

.call-to-action .btn {
    padding: 15px 30px;
    color: #4F84C4;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #528f81;
    border-radius: 0;
    color: #ededed;
}

.call-to-action .btn:hover {
    color: #ffffff;
    background: #353535;
}

.counters {
    position: relative;
    width: 100%;
    padding-bottom: 90px;
    background: #4F84C4;
}

.counters i {
    display: inline-block;
    font-size: 90px;
    line-height: 0;
    color: #ffffff;
    margin-bottom: 10px;
}

.counters h2 {
    font-family: 'Arial, Helvetica', sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    color: #ffffff;
}

.counters p {
    font-size: 22px;
    color: #ffffff !important;
    font-weight: 700 !important;
}


.clients {
    position: relative;
    padding: 90px 0;
}

.clients .section-header p {
    padding-bottom: 10px;
}

.clients img {
    max-width: 100%;
    opacity: 1;
    padding: 15px 0;
}

.clients img:hover {
    opacity: .5;
}

.clients .owl-nav,
.clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.clients .owl-dot.active {
    background-color: #4F84C4;
}

.footer {
    position: relative;
    background: #528F81;
}

.footer .footer-top {
    background: #528F81;
    padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info,
.footer .footer-top .footer-links,
.footer .footer-top .footer-contact,
.footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

.footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #528F81;
    color: #4F84C4;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}


.footer .footer-top h4 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer .footer-top h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 50px;
    border-bottom: 2px solid #ffffff;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ffffff;
    font-size: 16px;
}

.footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #ffffff;
    padding: 7px 0;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-top .footer-links ul a:hover {
    color: #4F84C4;
}

.footer .footer-top .footer-contact p {
    color: #ffffff;
    line-height: 26px;
}

.footer .footer-top .footer-newsletter input[type="email"] {
    padding: 6px 8px;
    width: 60%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.footer .footer-top .footer-newsletter input[type="submit"] {
    border: 0;
    width: 40%;
    padding: 6px 0;
    text-align: center;
    color: #4F84C4;
    border: 1px solid #ffffff;
    background: #ffffff;
    
}

.footer .footer-top .footer-newsletter input[type="submit"]:hover {
    color: #ffffff;
    background: #4F84C4;
    border: 1px solid #4F84C4;
}

.footer .footer-top .footer-newsletter p {
    color: #ffffff;
    font-size: 14px;
}

.footer .credit,
.footer .copyright {
    text-align: center;
    padding-top: 0px;
}

@media (min-width: 768px) {
    .footer .credit {
        text-align: right;
    }
    .footer .copyright {
        text-align: left;
    }
}